<% if user_signed_in? %>
  <header class="bg-white shadow">
      <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">
          Today
      </h1>
      </div>
  </header>

  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">  
    <div class="px-4 py-6 sm:px-0">
      <div class="border-4 border-dashed border-gray-200 rounded-lg h-96">
        <% @categories.each do |category| %>
          <% category.tasks.all.select do |task| %>
            <% if task.deadline == Date.today %>
              <p class="text-center"><%= category.name %></p>
              <p class="text-center"><%= link_to task.name, edit_category_task_path(category,task) %></p>
              <p class="text-center"><%= task.description %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>

  <section class="px-2 py-10 bg-white md:px-0">
    <div class="container items-center max-w-6xl px-8 mx-auto xl:px-5">
      <div class="flex flex-wrap items-center sm:-mx-3">
        <div class="w-full md:w-1/2 md:px-3">
          <div class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0">
            <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl">
              <span class="block lg:inline">Organize your tasks</span>
              <div class="flex text-blue-800 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-14 w-14" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z" />
                <path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd" />
                </svg><span class="block text-blue-800 xl:inline">TaskMaster</span>
              </div>
            </h1>
            <p class="mx-auto text-base text-gray-500 sm:max-w-md lg:text-xl md:max-w-3xl">It's never been easier to organize your tasks and categorize them accordingly.</p>
            <div class="relative flex flex-col sm:flex-row sm:space-x-4">
              <%= link_to 'Get started', new_user_session_path, class:"flex items-center w-full px-6 py-3 mb-3 text-lg text-white bg-blue-600 rounded-md sm:mb-0 hover:bg-blue-700 sm:w-auto" %>
              <%= link_to 'Register', new_user_registration_path, class:"flex items-center px-6 py-3 text-gray-500 bg-gray-100 rounded-md hover:bg-gray-200 hover:text-gray-600" %>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="w-full h-auto overflow-hidden rounded-md shadow-xl sm:rounded-xl">
            <%= image_tag("Add_Tasks.gif", class:"w-full") %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'footer' %>

<% end %>


