<h1 class="text-center"><%= @category.name %></h1>
<h2 class="text-center"><%= @category.description %></h2>

<%= link_to "Back", :back %>
<%= link_to "Edit", edit_category_path(@category) %>
<%= link_to "Delete", category_path(@category), method: :delete, data: { confirm: "Are you sure?" } %>

<%= render 'tasks/index' %>