<h1 class="text-center"><%= @category.name %></h1>
<h2 class="text-center"><%= @category.description %></h2>

<%= link_to "Back", :back %>
<%= link_to "Edit", edit_category_path(@category) %>

<%= render 'tasks/index' %>